<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="signature mail" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="./assets/style.css">-->

    <style type="text/css">
        #formSignature {
            margin: 10px;
        }

        body {
            margin: 10px;
        }

        h1 {
            text-align: center;
        }

        #newSignature {
            box-sizing: content-box;
            width: 100%;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        #btnDownloadHtm,
        #btnDownloadTxt {
            margin: 5px;
        }

        #spanHtm,
        #spanTxt {
            color: red;
        }

        p {
            margin: 10px;
        }

        #miseEnGarde {
            color: red;
        }

        #pathDownload,
        #pathProc {
            margin: 0 0 0 50px;
            color: red;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src='../fct.js'></script>

    <script type="text/javascript">

        function normalizePhone(phone) { //normalize string and remove all unnecessary characters
            //check if number length equals to 10
            if (phone.length == 11) {
                //reformat and return phone number
                return phone.replace(/^\+?(\d{2})(\d{2})(\d{3})(\d{3})/, "+$1 $2 $3 $4");
            }

            return null;
        }

        function normalizeGSM(phone) { //normalize string and remove all unnecessary characters
            //check if number length equals to 10
            if (phone.length == 12) {
                //reformat and return phone number
                return phone.replace(/^\+?(\d{2})(\d{3})(\d{3})(\d{3})/, "+$1 $2 $3 $4");
            }

            return null;
        }

        function loadingTemplate(userNameTemplate, userTitleTemplate, userPhoneTemplate, userGSMTemplate) { //change les codes du template avec les infos de l'appli pour l'affichage
            document.getElementById("newSignature").innerHTML = document.getElementById("newSignature").innerHTML.replace('$userName', userNameTemplate);
            document.getElementById("newSignature").innerHTML = document.getElementById("newSignature").innerHTML.replace('$userTitle', userTitleTemplate);
            if (userPhoneTemplate == '') {
                document.getElementById("newSignature").innerHTML = document.getElementById("newSignature").innerHTML.replace('$userPhone', '');
                document.getElementById("newSignature").innerHTML = document.getElementById("newSignature").innerHTML.replace('$userPhoneFormat', '');
            } else {
                document.getElementById("newSignature").innerHTML = document.getElementById("newSignature").innerHTML.replace('$userPhone', userPhoneTemplate);
                document.getElementById("newSignature").innerHTML = document.getElementById("newSignature").innerHTML.replace('$userPhoneFormat', normalizePhone(userPhoneTemplate));
            }
            if (userGSMTemplate == '') {
                document.getElementById("newSignature").innerHTML = document.getElementById("newSignature").innerHTML.replace('$userGSM', '');
                document.getElementById("newSignature").innerHTML = document.getElementById("newSignature").innerHTML.replace('$userGSMFormat', '');
            } else {
                document.getElementById("newSignature").innerHTML = document.getElementById("newSignature").innerHTML.replace('$userGSM', userGSMTemplate);
                document.getElementById("newSignature").innerHTML = document.getElementById("newSignature").innerHTML.replace('$userGSMFormat', normalizeGSM(userGSMTemplate));
            }
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            document.getElementById("btnDownloadHtm").style.display = 'none';
            document.getElementById("btnDownloadTxt").style.display = 'none';

            // récupération des informations liées à la session via le trigramme de la session Windows
            // app.use dans app.js

            // intégration des infos user dans le formulaire /* résultat des infos obtenues avec le LDAP */
            let trigramme = document.getElementById("trigramme").value = '<%= trigramme %>';
            let givenName = document.getElementById("givenName").value = '<%= givenName %>';
            let sn = document.getElementById("sn").value = '<%= sn %>';
            let userTitle = document.getElementById("userTitle").value = '<%= userTitle %>';
            let userPhone = document.getElementById("userPhone").value = '<%= userPhone %>';
            let userGSM = document.getElementById("userGSM").value = '<%= userGSM %>';

            document.getElementById("pathProc").innerText = 'C:\\Users\\' + trigramme + '\\AppData\\Roaming\\Microsoft\\Signatures\\';


            let htmlTemplate = '';

            $('#template').on("change", function (e) {
                e.preventDefault();

                // récupération des données éventuellement modifiées par l'utilisateur et envoi des informations dans le visuel du template
                let newGivenName = document.getElementById("givenName").value;             // prénom
                let newSn = document.getElementById("sn").value;                           // nom de famille
                let newUserName = newGivenName + " " + newSn;                              // concatène le nom et le prénom pour en faire une unité
                let newUserTitle = document.getElementById("userTitle").value;             // description de la fonction
                let newUserPhone = document.getElementById("userPhone").value;             // téléphone professionnel
                let newUserGSM = document.getElementById("userGSM").value;                 // mobile

                let template = document.getElementById("template").value;                  // template choisi
                let htmlTemplate = '';
                let signatureName = document.getElementById("signatureName").value;        // nom choisi pour la signature

                document.getElementById("spanHtm").innerText = signatureName + '.htm';
                document.getElementById("spanTxt").innerText = signatureName + '.txt';

                // choix du template à afficher en fonction de celui qui a été choisi
                $.ajax({
                    data: { 'templateName': template },
                    method: "GET",
                    contentType: 'application/x-www-form-urlencoded',
                    url: "/getHtmlTemplate",
                }).done(function (result) {
                    console.log("template done !");
                    htmlTemplate = result;
                    console.log('htmlTemplate = ' + htmlTemplate);
                    $('#newSignature').html(htmlTemplate);
                    loadingTemplate(newUserName, newUserTitle, newUserPhone, newUserGSM);
                }).fail(function (result) {
                    console.log("bad request !");
                });

                $('#btnEnregistrer').on("click", function (e) {
                    e.preventDefault();
                    //alert('test');

                    // récupération des données entrées par l'utilisateur et envoi des informations dans le formulaire de template
                    let newGivenName = document.getElementById("givenName").value;             // prénom
                    let newSn = document.getElementById("sn").value;                           // nom de famille
                    let newUserName = givenName + " " + sn;                                    // concatène le nom et le prénom pour en faire une unité
                    document.getElementById("userName").value = newUserName;
                    let newUserTitle = document.getElementById("userTitle").value;             // description de la fonction
                    let newUserPhone = document.getElementById("userPhone").value;             // téléphone professionnel
                    let newUserGSM = document.getElementById("userGSM").value;                 // mobile

                    let template = document.getElementById("template").value;                  // template choisi
                    let signatureName = document.getElementById("signatureName").value;        // nom choisi pour la signature

                    let formFrmSignature = new FormData($('#formSignature')[0]);
                    formFrmSignature.append('htmlTemplate', htmlTemplate);

                    //console.log("formFrmSignature = " + formFrmSignature);

                    // Debug : Affichage des paires clefs/valeurs
                    /*for (var e of formFrmSignature.entries()) {
                        console.log(e[0] + ' :: ' + e[1]);
                    }*/

                    // envoi des informations pour la création de la signature
                    $.ajax({
                        data: formFrmSignature,
                        method: "POST",
                        enctype: "multipart/form-data",
                        url: "/saveTemplate",
                        processData: false,                                                    // tell jQuery not to process the data
                        contentType: false                                                     // tell jQuery not to set contentType
                    }).done(function (result) {
                        console.log("Well done !");
                    }).fail(function (result) {
                        console.log("Oops !");
                    });

                    $('#btnDownloadHtm').on("click", function (e) {
                        let signName = document.getElementById('signatureName').value;

                        //console.log('test = '+ window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/' + signName + '.htm');
                        document.getElementById("linkHtm").setAttribute("href", window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/' + signName + '.htm');
                        document.getElementById("linkHtm").setAttribute("download", signName + '.htm');
                        //console.log('es-tu là ?');
                        $("#linkHtm").click();
                    });

                    $('#btnDownloadTxt').on("click", function (e) {
                        let signName = document.getElementById('signatureName').value;

                        //console.log('test = ' + window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/' + signName + '.txt');
                        document.getElementById("linkTxt").setAttribute("href", window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/' + signName + '.txt');
                        document.getElementById("linkTxt").setAttribute("download", signName + '.txt');
                        //console.log('es-tu ici ?');
                        $("#linkTxt").click();
                    });
                });
            });
        });

        function linksToDownload() {
            let signName = document.getElementById('signatureName').value;
            let templChoice = document.getElementById('template').value;
            if ((signName != '') && (templChoice != '')) {
                document.getElementById("btnEnregistrer").style.display = "none";
                document.getElementById("btnDownloadHtm").style.display = "block";
                document.getElementById("btnDownloadTxt").style.display = "block";
            }
        }
    </script>
</head>

<body>
    <script>
        (function () {
            if (window.localStorage) {
                if (!localStorage.getItem('firstLoad')) {
                    localStorage['firstLoad'] = true;
                    window.location.reload();
                }
                else
                    localStorage.removeItem('firstLoad');
            }
        })();
    </script>

    <h1>Formulaire de modification des informations de la signature pour Outlook</h1>
    <hr>
    <p id='miseEnGarde'>
        Si vos données ne s'affichent pas directement, veuillez réactualiser la page.
    </p>
    <form method="POST" id="formSignature" name="formSignature" enctype="multipart/form-data">
        <input type="text" name="trigramme" id="trigramme" hidden>
        <input type="text" name="userName" id="userName" hidden>

        <label target="givenName">Prénom :</label>
        <input type="text" name="givenName" id="givenName" disabled="disabled"> <!-- prénom -->

        <label target="sn">Nom :</label>
        <input type="text" name="sn" id="sn" disabled="disabled"><br> <!-- nom de famille -->

        <label target="userTitle">Fonction :</label>
        <input type="text" name="userTitle" id="userTitle" required><br>

        <label target="userPhone">Téléphone (en commençant par +32) :</label>
        <input type="text" name="userPhone" id="userPhone"><br>

        <label target="userGSM">Mobile (en commençant par +32) :</label>
        <input type="text" name="userGSM" id="userGSM"><br>

        <label target="signatureName">Nom de la signature :</label>
        <input type="text" name="signatureName" id="signatureName" value="" required><br>

        <label target="template">Choix du Template :</label>
        <select name="template" id="template" required>
            <option value="" selected>--- Select template ---</option>
            <option value="template_Win">template_Win</option>
            <option value="template_WinEvents">template_WinEvents</option>
            <option value="template_WDC">template_WDC</option>
        </select><br>

        <!-- div d'affichage du résultat du template choisi avec la signature modifiée -->
        <div class="col" id="newSignature"></div>
        <button id="btnEnregistrer" class="btn btn-secondary" onclick='linksToDownload()'>Enregistrer</button>
    </form>

    <div class="row" id="btnDwnld">
        <a id="linkHtm">
            <button id="btnDownloadHtm" class="btn btn-secondary">Télécharger la signature formatée</button>
        </a>
        <a id="linkTxt">
            <button id="btnDownloadTxt" class="btn btn-secondary">Télécharger la signature texte</button>
        </a>
    </div>
    <div class="row" id="procedure">
        <p id="paragProc">
            Après avoir enregistré la signature qui vous convient, cliquer sur chaque bouton pour télécharger la
            nouvelle signature. <br>
            Merci de bien vérifier que vous avez cliqué sur les 2 boutons. Deux fichiers seront alors téléchargés,
            un fichier <span id="spanHtm">.htm</span> et un fichier <span id="spanTxt">.txt</span>. <br><br>
            Les fichiers téléchargés sont dans votre dossier de téléchargement par défaut.
        </p>
        <p>
            Vous devrez copier ces 2 fichiers et les coller dans le dossier rattaché aux signatures Outlook pour
            pouvoir les utiliser. <br>
            <!-- Ce dossier se situe <a id="hrefProc" href="">ici</a> -->
            Ce dossier se situe là : <span id="pathProc"></span>
        </p>
    </div>

</body>

</html>